<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Грузы.My.MySettings.RickmansConnectionString" connectionString="Data Source=45.14.50.142\2749\SQLEXPRESS,1433;Initial Catalog=Rickmans;Persist Security Info=True;User ID=userOleg1"
      providerName="System.Data.SqlClient" />
    <add name="Грузы.My.MySettings.RickmansConnectionString1" connectionString="Data Source=45.14.50.142;Initial Catalog=Rickmans;Persist Security Info=True;User ID=userOleg1"
      providerName="System.Data.SqlClient" />
    <add name="Грузы.My.MySettings.RickmansConnectionString2" connectionString="Data Source=45.14.50.142;Initial Catalog=Rickmans;Persist Security Info=True;User ID=userOleg1;Password=Zf6VpP37Ol"
      providerName="System.Data.SqlClient" />
    <add name="Грузы.My.MySettings.RickmansConnectionString3" connectionString="Data Source=178.124.211.175,52891;Initial Catalog=Rickmans;Persist Security Info=True;User ID=Rickmans;Password=Zf6VpP37Ol"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>