<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Грузы.My.MySettings.RickmansConnectionString" connectionString="Data Source=45.14.50.142\2749\SQLEXPRESS,1433;Initial Catalog=Rickmans;Persist Security Info=True;User ID=userOleg1"
      providerName="System.Data.SqlClient" />
  <!--  <add name="Грузы.My.MySettings.RickmansConnectionString" connectionString="Data Source=45.14.50.13\723\SQLEXPRESS,1433;Initial Catalog=Rickmans;Persist Security Info=True;User ID=userOleg"
      providerName="System.Data.SqlClient" />  -->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>